<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy0WVkbL75TPPOO7ZJAaCvlRJD8mNbi8w</string>
	<key>GCM_SENDER_ID</key>
	<string>414106767374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kayple</string>
	<key>PROJECT_ID</key>
	<string>kayple-52852</string>
	<key>STORAGE_BUCKET</key>
	<string>kayple-52852.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414106767374:ios:286a420ba92b3b866f6c5f</string>
</dict>
</plist>